@import 'scss/colors';

.wrapper {
  padding: 12px;
  background: $blue100;
  color: $blue300;
  border-radius: 4px;
  position: relative;
  margin-bottom: 4px;

  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: 24px;
    width: 12px;
    height: 12px;
    background: $blue100;
    transform: rotate(45deg);
  }
}

.chatText {
  font-size: 12px;
}

.superscript {
  font-size: 10px;
  font-weight: bold;
}

.newDonation {
  animation: 200ms 1 boing;
}

@keyframes boing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
